<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wen.user.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.wen.common.model.User">
        <id property="id" column="id"/>
        <id property="mobile" column="mobile"/>
        <id property="password" column="password"/>
        <id property="nickname" column="nickname"/>
        <id property="sex" column="sex"/>
        <id property="birthday" column="birthday"/>
        <id property="avatar" column="avatar"/>
        <id property="email" column="email"/>
        <id property="regdate" column="regdate"/>
        <id property="updatedate" column="updatedate"/>
        <id property="lastdate" column="lastdate"/>
        <id property="online" column="online"/>
        <id property="interest" column="interest"/>
        <id property="personality" column="personality"/>
        <id property="fanscount" column="fanscount"/>
        <id property="followcount" column="followcount"/>
    </resultMap>
    <sql id="dynamicSql">
        id,mobile,password,nickname,sex,birthday,avatar,email,regdate,updatedate,lastdate,online,interest,personality,fanscount,followcount
    </sql>
<!--    Article selectOneById(@Param("id") String articleId);-->
    <select id="selectOneById" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="dynamicSql"/>
        from tb_user
        where id = #{id}
    </select>

<!--        User findByMobileAndPassword(User user);-->
    <select id="findByMobileAndPassword" resultMap="BaseResultMap">
        select
        <include refid="dynamicSql"/>
        from tb_user
        where mobile = #{mobile} and password = #{password}
    </select>
</mapper>